
/* main color #757575 */
/* secondary color #212121 */
/* white  #FFFFFF */
/* accent #2196F3 */
/* background main: #2F303A */
/* background secondary  #F5F4FA */

:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --title-text-color: #FFFFFF;
    --accent-color: #2196F3;
    --secondary-button-color: #F5F4FA;
}

body {
    color: var(--primary-text-color);
    background-color: #F5F5F5;
    font-family: Roboto, sans-serif;
    font-family: Raleway, serif;
}

.logo {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.list {
    list-style: none;
}

.site-nav {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

.contacts {
    color: var(--primary-text-color);
}

.contacts:hover,
.contacts:focus {
    color: var(--accent-color);
}

.hero-title {
    color: var(--title-text-color);
    font-size: 44px;
    line-height: 1.4;
    font-weight: 900;
    text-align: center;
}

.section-title {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}

.title {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.text {
    font-size: 14px;
    line-height: 1.7;
}

.person {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
}

.prof {
    font-size: 16px;
    line-height: 1.2;
}

.title-name {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.discr {
    font-size: 16px;
    line-height: 1.9;
}
.button.primary {
    color: var(--title-text-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    cursor: pointer;
}

.button.secondary {
    color: var(--secondary-text-color);
    background-color: var(--secondary-button-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    cursor: pointer;
}

.accent {
    color: var(--accent-color);
}

.button.secondary:hover, .button.secondary:focus {
    color: var(--title-text-color);
    background-color: var(--accent-color);
}
.footer {
    color: var(--title-text-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
}
